{% extends "layout.html" %}

{% block title_tag %}Team Builder | password reset{% endblock %}

{% block content %}
  <div class="bounds">
      <h1>Forgot your password?</h1>
        <p>Not to worry, it happens to all of us. Please enter the email
        address that is associated with your account and you will receive
        instructions on how to change it.</p>
      <form method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" class="button-primary" value="Reset Password">
      </form>
  </div>
{% endblock content %}
