{% extends "selectable_list.html" %}


nav_bar.html takes one parameter
1) current_tab
  Allows the main profile header bar to change in html



{% block title_tag %}Team Builder | Administrative{% endblock title_tag %}
{% block header %}<h2>Administrative</h2>{% endblock header %}


{% block first_sidebar %}
  <li>
    <a class="selected" href="{% url 'profiles:administrative' %}">
      Pending Tasks
    </a>
  </li>
  <li>
    <a href="{% url 'profiles:administrative_non_pending' %}">
      Non-pending Tasks
    </a>
  </li>

{% endblock first_sidebar %}


{% block body_header %}
  <th>Task</th>
  <th class="circle--cell--right">Accept/Deny</th>
{% endblock body_header %}


{% block body %}
  {% if not tasks %}
    <h2>There are no pending Admin tasks</h2>
  {% endif %}

  {% for task in tasks %}
    <tr class="clickable-row" data-href="">
      <td>
        <h3>
          <a>
            {{ task }}
          </a>
        </h3>
        <p>
          <a href={% url 'profiles:profile' pk=1 %}>
            From: {{ task.creator }}
          </a>
        </p>


      </td>
      <td class="circle--cell--right">

        <a class="button"
           href={% url 'profiles:skill_accept' pk=task.pk %}>
          Accept Skill
        </a>

        <a class="button button-secondary"
           href= {% url 'profiles:skill_deny' pk=task.pk %}>
          Deny Skill
        </a>

        </span>
      </td>
    </tr>
  {% endfor %}
{% endblock body %}