{% extends "profiles/layout.html" %}
{% load static %}

{% block title_tag %}Team Builder | profile{% endblock %}

{% block profiles_content %}

  <div class="bounds circle--page">
    <div class="circle--page--header grid-100">
      <h2>Open Applications</h2>
    </div>

    <div class="grid-25">
      <div class="circle--filter circle--secondary--module">
        <h4>Status</h4>
        <ul class="circle--filter--list">
          <li><a class="selected">All Applications</a></li>
          <li><a>New Applications</a></li>
          <li><a>Accepted</a></li>
          <li><a>Rejected</a></li>
        </ul>
      </div>

      <div class="circle--filter circle--secondary--module">
        <h4>Unfilled Projects</h4>
        <ul class="circle--filter--list">
            {% for project in projects %}
                <li><a href="{% url 'profiles:project' pk=project.pk %}">{{ project|truncatechars:25 }}</a></li>
            {% endfor %}
        </ul>
      </div>

      <div class="circle--filter circle--secondary--module">
        <h4>Project Needs</h4>
        <ul class="circle--filter--list">
            <li><a class="selected">All Needs</a></li>
            {% for need in needed_skills %}
                <li><a>{{ need }}</a></li>
            {% endfor %}
        </ul>
      </div>

    </div>

    <div class="grid-70 grid-push-5">
      <table class="u-full-width circle--table">
        <thead>
          <tr>
            <th>Applicant</th>
            <th class="circle--cell--right">Applicant Position</th>
          </tr>
        </thead>
        <tbody>

        {% if not unfilled_positions %}
            <h2>You have no current applicants</h2>
        {% endif %}

        {% for position in unfilled_positions %}
            {% for person in position.applicants.all %}
              <tr class="clickable-row" data-href="">
                <td>
                    <h3><a href=" {% url 'profiles:profile' pk=person.applicant.pk %}">{{ person }}</a></h3>
                    <p><a href=" {% url 'profiles:project' pk=position.related_project.pk  %}">{{ position.related_project }}</a></p>

                <a class="button button-primary extra_vertical_margin" href="{% url 'profiles:applications_accept' position_pk=position.pk profile_pk=person.applicant.pk %}">Accept</a>
                <a class="button button-primary extra_vertical_margin">Reject</a>

                </td>
                <td class="circle--cell--right">
                  <span class="secondary-label">{{ position.skill }}</span>
                </td>
              </tr>
            {% endfor %}
        {% endfor %}


        </tbody>
      </table>

    </div>

  </div>
{% endblock profiles_content %}