{% extends "layout.html" %}

{% block title_tag %}Team Builder | profile{% endblock %}

{% block content %}
  <div class="circle--actions--bar">
    <nav class="bounds">
      <ul class="circle--pill--list">
        <li>
          <a {% if applications %} class="selected" {% endif %} href="applications.html">Applications</a>
        </li>
        <li><a {% if profile %} class="selected" {% endif %} href={% url 'profiles:profile' %}>Profile</a></li>
      </ul>
    </nav>
  </div>

  {% block profiles_content %}{% endblock profiles_content %}

{% endblock content %}
