{% extends "profiles/selectable_list.html" %}


Profile/layout.html takes one parameter
1) current_tab
    Allows the main profile header bar to change in html

{% block title_tag %}Team Builder | profile{% endblock %}


Profile/layout.html takes one parameter
1) current_tab
    Allows the main profile header bar to change in html


Notifications.html takes a couple of parameters



{% block nav_bar %}
    <h1>Temporary</h1>
    <p>All of the notification related views will go here.</p>
{% endblock %}