{% extends "nav_bar.html" %}

{% block title_tag %}Team Builder | image{% endblock %}

{% block nav_bar %}

  {% load static %}
  <div class="center">
    <h1>Image editor!</h1>
  </div>

  <div class="min-height bounds">

    <div class="grid-50">
      <canvas id="c" class="canvas-image" width="240" height="340">
        No canvas support
      </canvas>

{#      These are two hidden images for the image editor#}
      {% if profile.avatar %}
        <img src="{% static profile.avatar.url %}"
             id="my-image" style="display: none;">
      {% endif %}
      <img src="{% static 'profiles_media/default_profile_image.png' %}"
           id="site-image" style="display: none;">

    </div>

    <div class="float-right">
      <div style="margin-left: 10px; display: inline-block;">
        <button class="btn btn-info" id="clear-canvas">Clear</button><br>
        {% if profile.avatar %}
          <button class="btn btn-info" id="clear-canvas-with-pic">
            Non working profile pic
          </button><br>
        {% endif %}
          <button class="btn btn-info" id="clear-canvas-with-site-pic">
            Clear: Use site profile image
          </button><br>
      </div>
    </div>

  </div>

  <script src="{% static 'js/profiles/fabric.min.js' %}"></script>
  <script src="{% static 'js/profiles/profile_image.js' %}"></script>
{% endblock nav_bar %}
