{% extends "nav_bar.html" %}

{% block title_tag %}Team Builder | image{% endblock %}

{% block nav_bar %}

  {% load static %}
  <div class="center">
    <h1>Image editor!</h1>
  </div>

          <button class="btn btn-info floated" id="clear-canvas">
            New blank canvas
          </button>
        {% if profile.avatar %}
          <button class="btn btn-info floated" id="clear-canvas-with-pic" >
            Clear: Avatar image
          </button>
        {% endif %}
          <button class="btn btn-info floated" id="clear-canvas-with-site-pic">
            Clear: Use site profile image
          </button><br>

  <form action="{% url 'profiles:profile_edit_image' %}"
        id="theForm" method="post">
  {% csrf_token %}
    <input name="data-url" type="hidden" id="data-url" />
      <button
          class="floated button button-secondary"
          type="button"
          id="save-image">
        Save Image
      </button>
  </form>

  <div class="min-height bounds">

    <div class="grid-50">
      <canvas id="c" class="canvas-image">
        No canvas support
      </canvas>

{#      Create one or two images for the JavaScript application#}
      {% if profile.avatar %}
        <img src="{% static profile.avatar.url %}"
             id="my-image" style="display: none;">
      {% endif %}
      <img src="{% static 'profiles_media/default_profile_image.png' %}"
           id="site-image" style="display: none;">

    </div>

    <div class="float-right">
      <div style="margin-left: 10px; display: inline-block;">

        <p>Drawing Options</p>

        <label>Pencil Color</label>
        <input id="drawing-color" value="black" type="color">

        <label>Line Width</label>
        <input id="drawing-line-width" value="10"
               type="range" min="0" max="50"
        >

      </div>
    </div>

  </div>

  <script src="{% static 'js/profiles/fabric.min.js' %}"></script>
  <script src="{% static 'js/profiles/profile_image.js' %}"></script>
{% endblock nav_bar %}
