{% extends "nav_bar.html" %}

{% block title_tag %}Team Builder | profile{% endblock %}

{% block nav_bar %}
  {% load static %}
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
          integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
          crossorigin="anonymous"></script>
  <script src="{% static 'js/dynamicformsets.js' %}"></script>

  <form method="post" enctype="multipart/form-data" action="">
    {% csrf_token %}

    {{ profile_form.honey_pot }}

    <div class="bounds circle--page">
      <div class="circle--page--header circle--fluid">
        <div class="circle--fluid--cell circle--fluid--primary">
          <h2>Profile</h2>
        </div>
        <div class="circle--fluid--cell circle--fluid--secondary">
          <button type="submit" class="button button-primary icon-on-left">
            Save Changes
          </button>
        </div>
      </div>

      <div class="grid-70">
        <p>Username</p>
        {{ profile_form.username.errors }}
        {{ profile_form.username }}
        <p>Website color</p>
        {{ profile_form.color }}
        <div class="circle--article--body">
          <p>Bio (markdown preview bellow)</p>
          {{ profile_form.bio }}
        </div>
      </div>

      <div class="grid-25 grid-push-5">

        <div class="circle--secondary--module">
          <div class="circle--primary--avatar">
            <a class="button">
              Upload Photo
              {{ profile_form.avatar }}
            </a>
          </div>
        </div>

        <div class="circle--secondary--module">
          <h4>My Skills</h4>
          <h4>
            <a href="{% url 'profiles:new_skill' %}">Request a new skill </a>
            (Will leave page)
          </h4>


          <form class="form-horizontal" method="POST" action="">
            {% csrf_token %}
            {{ skills_form.management_form }}
            {% for form in skills_form %}
              <div class="row form-row spacer">
                <div class="col-2">
                  <label>{{ form.skills.label }}</label>
                </div>
                <div class="col-4">
                  <div class="input-group">
                    {{ form.skills }}
                    <div class="input-group-append">
                      <button class="btn btn-success add-form-row">Add Skill
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}


        </div>
      </div>

  </form>

  {{ profile_form.media }}

{% endblock nav_bar %}
