{% extends "layout.html" %}

{% block content %}

  <form method="post" enctype="multipart/form-data" action="">
  {% csrf_token %}

  <div class="circle--actions--bar">
    <div class="bounds">
      <div class="grid-100">
        <input type="submit" class="button button-primary" href="project.html" value="Save Changes">

{#        This allows the delete button to only appear for saved projects#}
        {% if project.pk %}
            <a class="button button-text"
               href="{% url 'profiles:project_delete_confirmation' pk=project.pk%}">
                Delete Project
            </a>
        {% endif %}

      </div>
    </div>
  </div>



  <div class="bounds circle--page circle--article">
    <div class="grid-70">
      <div class="circle--article--body">
        <div class="circle--input--h1">
            <p>Temporary project owner for development</p>
            {{ project_form.owner }}
          {{ project_form.title.errors }}
          {{ project_form.title }}
        </div>
        <p>Description (markdown preview bellow)</p>
        {{ project_form.description }}
      </div>

      <div class="circle--project--positions">
        <h2>Positions</h2>

        <ul class="circle--group--list circle--clone--list">





    <form class="form-horizontal" method="POST" action="">
        {% csrf_token %}
    {{ position_form.management_form }}
    {% for form in position_form %}
    <div class="row form-row spacer">
        <div class="col-2">
            <label>{{form.skill.label}}</label>
        </div>
        <div class="col-4">
            <div class="input-group">
                {{form.skill}}
                {{ form.information }}
                <p>Time commitment Markdown capable</p>
                {{ form.time_commitment }}
                <div class="input-group-append">
                    <button class="btn btn-success add-form-row">Add Position</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <input type="submit" class="button button-primary" href="project.html" value="Save Changes">

{% if filled_positions %}
    <h2>Filled Positions</h2>

    {% for position in filled_positions %}
                <li>
                  <h3>{{ position.skill }}</h3>
                  <p>{{ position.information|linebreaks }}</p>
                    <a class="button button-primary button-inactive"
           href="{% url 'profiles:profile' pk=position.filled_by.pk %}">
            Position Filled by {{ position.filled_by }}
        </a>
                </li>
    {% endfor %}
{% endif %}


{% block custom_js %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script type="text/javascript">
function updateElementIndex(el, prefix, ndx) {
    let id_regex = new RegExp('(' + prefix + '-\\d+)');
    let replacement = prefix + '-' + ndx;
    if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
    if (el.id) el.id = el.id.replace(id_regex, replacement);
    if (el.name) el.name = el.name.replace(id_regex, replacement);
}
function cloneMore(selector, prefix) {
    let newElement = $(selector).clone(true);
    let total = $('#id_' + prefix + '-TOTAL_FORMS').val();
    newElement.find(':input').each(function() {
        let name = $(this).attr('name')
        if(name) {
            name = name.replace('-' + (total-1) + '-', '-' + total + '-');
            let id = 'id_' + name;
            $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
        }
    });
    total++;
    $('#id_' + prefix + '-TOTAL_FORMS').val(total);
    $(selector).after(newElement);
    let conditionRow = $('.form-row:not(:last)');
    conditionRow.find('.btn.add-form-row')
    .removeClass('btn-success').addClass('btn-danger')
    .removeClass('add-form-row').addClass('remove-form-row')
    .html('-');
    return false;
}
function deleteForm(prefix, btn) {
    let total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
    if (total > 1){
        btn.closest('.form-row').remove();
        let forms = $('.form-row');
        $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
        for (let i=0, formCount=forms.length; i<formCount; i++) {
            $(forms.get(i)).find(':input').each(function() {
                updateElementIndex(this, prefix, i);
            });
        }
    }
    return false;
}
$(document).on('click', '.add-form-row', function(e){
    e.preventDefault();
    cloneMore('.form-row:last', 'form');
    return false;
});
$(document).on('click', '.remove-form-row', function(e){
    e.preventDefault();
    deleteForm('form', $(this));
    return false;
});

$( document ).ready(function() {
    // find all form add buttons on page load
    let found_forms = document.getElementsByClassName('btn btn-success add-form-row')

    let length = found_forms.length

    // If length is not one we need to click the form so the jquery
    // updates all the forms to display correctly
    if (length !== 1) {
        // This gets the first form element and clicks it
        found_forms[0].click()
    }



});

</script>
    {% endblock custom_js %}



        </ul>


      </div>
    </div>

    <div class="grid-25 grid-push-5">
      <div class="circle--secondary--module">
        <h3>Project Timeline</h3>
        <div class="circle--textarea--input">
          {{ project_form.time_line }}
        </div>
      </div>

      <div class="circle--secondary--module">
        <h3>Application Requirements</h3>
        {{ project_form.requirements }}
      </div>

    </div>
  </div>
  </form>

{{ project_form.media }}

{% endblock content %}