{% extends "profiles/project.html" %}

{% block applicant_buttons %}

    {% for position in unfilled_positions %}
      <h3>{{ position.skill }}</h3>
      <p>{{ position.information|linebreaks }}</p>

        <a class="button button-primary">Accepting applicants</a>
        <a class="button button-primary"
           href="{% url 'profiles:applications_request' pk=position.pk %}">
            Dev Application
        </a>

    {% endfor %}
    </ul>

  <h2>Filled Positions</h2>
  <ul class="circle--group--list">
    {% for position in filled_positions %}
      <h3>{{ position.skill }}</h3>
      <p>{{ position.information|linebreaks }}</p>

    <a class="button button-primary button-inactive"
       href="{% url 'profiles:profile' pk=position.filled_by.pk %}">
        Position Filled by {{ position.filled_by }}
    </a>

    {% endfor %}
  </ul>

{% endblock applicant_buttons %}